 body{
	 background-color:#F4DDDD;
	 font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	 
 }
 
  *
  {
	 marging:0;
	 padding:0; 
	  
	  
  }
  
 #wrapper{
	  border:0px solid;
	  border-radius: 5px;
	  width:970px;
	  margin:auto;
	  padding:10px;
	  background-color:#ffffff;
	  
  }
  
 #header{
	  border:0px solid;
	  width:100%;
	  

	  }
	  
#header ul{
	list-style-type:none
	
	}
#header ul li{
	    border:1px solid;
		float:left;
		color:#ffffff;
		background-color:#F81809;
		width:159px;
		text-align:center;
		height:30px;
		line-height:30px;
		
	}
	
#header ul li:hover{
	background-color:#000000;
   }	

#header ul li a{
	text-decoration:none;
	color:#FFFFFF;
	
   }

#image{

   }

#bodypart{
	border: 0px solid;
	margin-top: 5px;

   }

#bodyleft{
	border: 0px solid;
	float: left;
	width: 270px;
}
#bodyleft h2{
	background-color: #FF0000;
	color: #FFFFFF;
	padding: 4px;


}
#bodyleft ul{
    list-style-type: none;
	
}

#bodyleft ul li{
	border-bottom: 1px dotted;
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
	
}

#bodyleft ul li a{
	color: #000000;
	text-decoration: none;
}	
#bodyleft ul li a:hover{
	color: #FF0000;
}
#bodyright{
	border: 1px solid #CCCCCC ;
	width: 675px;
	float: left;
	margin-left: 15px;
}
#bodyright h2{
	background-color: #FF0000;
	color: #FFFFFF;
	padding: 5px;
}
#bodyright p{
padding: 1px;
text-align: center;
font-size: 15px;
}

#footer{
	border: 0px solid;
	background-color: #CCCCCC;
	color: #000000;
	padding: 5px;
	font-size: 10px;
	margin-top: 20px;
}

#outerbox
{
 width: 970px;
 height: 490px;
 overflow: hidden;
}

#sliderbox
{
	position:relative;
	width:3880px;
	animation-name: slider;
	animation-duration: 20s;
	animation-iteration-count: infinite; 

}	

#sliderbox img
{
	float:left;
}
@keyframes slider{

	0%
	{
	 left:0px;	 
	}
	20%
	{
		left:0px;	
	}
	25%
	{
		left:-970px;
	}
	45%
	{
		left:-970px;
	}
	50%
	{
		left:-1940px;
	}
	70%
	{
		left: -1940px;
	}
	75%
	{
		left: -2910px;
	}
	95%
	{
		left: -2910px;
	}
	100%
	{
		left: -3880px;
	}





}